.scroll-view {
    flex-grow: 1;
}

.about-contents {
    white-space: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    height: 1000px;
}
